# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Environment variables
backend/.env

# Node
frontend/node_modules/

# Vite
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db